* {
  margin: 0;
  box-sizing: border-box;
  font-family:"Inter", sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}
.header {
  width: 1318px;
  height: 115px;
}
.top {
  width: 1318px;
  height: 50px;
  background-color: #ec6c5a;
  color: white;
  padding: 10px 40px 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 1318px;
  height: 65px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo {
  display: flex;
  padding: 0 25px;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 25px;
  color: black;
}
.navbar-logos {
  display: flex;
  flex-direction: row;
  padding: 0 25px;
  gap: 10px;
}
.hero {
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
}
.container {
  background-image: url("./pictures /bannerGirl.png"), url("./pictures /bg.png");
  width: 1318px;
  height: 550px;
  background-size: 450px, cover;
  background-repeat: no-repeat, repeat;
  background-position:
    right bottom,
    center;
}
.cards {
  width: 1318px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  padding: 0 150px;
}
.cards-box {
  width: 60%;
  height: 100px;
  background-color: #f1b7b7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 10px;
  padding: 50px;
}
.cards-box strong {
  font-size: 2rem;
  color: #ec6c5a;
}
#white {
  background-color: #4cc082;
  color: white;
}
.cards-box p {
  color: white;
}
.hero {
  /* width: 420px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.container-text {
  height: 300pxpx;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 120px;
}
.container-text p {
  font-size: 5rem;
}
.search-btn {
  display: flex;
  color: white;
  border: none;
  padding: 10px 0 10px 0;
}
#btn-box {
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 10px 100px 10px 10px;
}
#search-btn {
  background-color: #4cc082;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.categories {
  width: 1318px;
}
.title-bar {
  width: 1318px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 150px 50px 150px;
}
.frame {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.frame p {
  color: #ec6c5a;
}
.frame h3 {
  font-size: 2rem;
}
.btn {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button {
  color: white;
  display: flex;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #4cc082;
  border: none;
  cursor: pointer;
}
.category {
  width: 1318px;
  /* border-top: 1.5px solid gray; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 150px;
  gap: 20px;
}
.category-box#one {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.category-box#two {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-box#three {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.category-box#four {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box1 {
  background-color: #ffeed3;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
}
.box2 {
  background-color: #ffe9e5;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
}
.box3 {
  background-color: #bbc7d4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
}
.box4 {
  background-color: #ffeed3;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
}
.box5 {
  background-color: #ffe9e5;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
}
.box6 {
  background-color: #e2f3f0;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
}
.box7 {
  background-color: #e2f3f0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
}
.box8 {
  background-color: #ffeed3;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
}
.category p {
  color: #31333a;
}
.courses-title {
  width: 1318px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.section-title p {
  color: #ec6c5a;
}
.section-title h4 {
  font-size: 2rem;
}
.course-grid {
  width: 1318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  gap: 20px;
}
.grid-one {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.grid-two {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card {
  width: 250px;
  height: 370px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px #0000001a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-img {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 10px;
  /* object-fit: cover; */
}
.meta {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 10px;
  font-size: 12px;
  color: #777777;
  /* margin-bottom: 10px; */
}
.course-title {
  font-size: 18px;
  display: flex;
  gap: 10px;
  padding: 20px 10px;
}
.author {
  font-size: 13px;
  color: #777777;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.author a {
  font-size: 13px;
  color: #555555;
  text-decoration: underline;
}
.course-btn {
  width: 1318px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 50px;
}
#grid-btn {
  color: white;
  display: flex;
  background-color: #ec6c5a;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  font-size: 14px;
}
.reviews {
  width: 1318px;
  background-color: #e2f3f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 50px 0;
}
.testimonial-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 150px;
}
.revi {
  width: 250px;
  font-size: 12px;
  color: #777777;
  padding: 30px 0;
}
p.nm {
  width: 150px;
  color: #000000;
  font-size: 16px;
}
p.member {
  color: #777777;
  font-size: 12px;
}
.author-review {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 115px;
}
.details {
  width: 150px;
}
.team {
  width: 1318px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.gurus {
  width: 1318px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.teachers-grid {
  width: 1318px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  gap: 20px;
}
.teacher-card {
  width: 250px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px #0000001a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.teacher-img {
  width: 100%;
  height: 220px;
  display: flex;
  padding: 5px 10px 10px 10px;
}
.teacher-title {
  color: #ec6c5a;
}
.teacher-card a {
  color: black;
  padding: 5px;
}
.features {
  width: 1318px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
}
.checklist-one,
.checklist-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px;
}
.checklist {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.checklist img {
  width: 25px;
  height: 25px;
}
.signup {
  width: 1318px;
  height: 200px;
  background-color: #ffeed3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.signup-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 10px 30px 150px;
}
.register {
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 25px;
  padding: 30px 150px 30px 10px;
}
#email {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 15px 100px 15px 15px;
}
#register-btn {
  background-color: #4cc082;
  border: none;
  border-radius: 10px;
  padding: 15px 50px;
  color: white;
  cursor: pointer;
}